#working subdirs
obj/*
bin/*
build/*

#EmBitz project files
*.depend
*.ebp
*.elay

#OpenOCD configuration
openocd.cfg

#sublime project files
*.sublime-project
*.sublime-workspace

.vscode/
*.lst
*.bin
*.uvoptx
*.uvguix.*
RTE
obj
list
DebugConfig/
LICENSE*
*.png
*.jpg
*.txt
README*
*.md
